@model googleMap.ViewModel.GoogleViewModel

@{

    ViewBag.Title = "GetLatLng";
}
<div id="map" class="col-md-9" style="height: 400px">
    <script type="text/javascript"  async defer src="https://maps.googleapis.com/maps/api/js?key=yourkey&sensor=false&callback=initMap"></script>
    <script type="text/javascript">
        
            
        function initMap()  {
                var mapOptions = {
                    center: new google.maps.LatLng(@Html.Raw(ViewBag.LatLng.centre)),
                    zoom: 8,
                    mapTypeId: google.maps.MapTypeId.ROADMAP

                };
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                var Polygon = new google.maps.Polygon({
                    paths:@Html.Raw(ViewBag.LatLng.coordinate),
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35
                });
                Polygon.setMap(map);
            }


    </script>

</div>

